#header{
    background-color:rgb(194, 219, 236);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Moon Dance', cursive;
    
}
h1, h2, h3{
    text-transform: uppercase;
}
#nameAndTitle{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
#nameAndTitle h1, h2{
    margin: 0;
}
#contact{
    list-style-type: none;
}
#contact i{
    width: 30px;
    color: rgb(45, 193, 230);
}
#container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
}
#sidebar, #content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.card h3{
    font-family: 'Moon Dance', cursive;
}
.card{
    font-family: Montserrat;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}